body {
    background: #f4f1de;
  
    color: #333333;
    margin-top: 5rem;
  }
  

  .blog{
    background: #faf9f9;
    
  }

  .blog:hover{
    transition: ease-in 3s ;
    color: #000;
  }
  h1, h2, h3, h4, h5, h6 {
    color: #444444;
  }
  
  .bg-steel {
    background-color: #fff;
  }
  
  .bg-blue{
      background-color: #428bca;
      color: #fff;
      border-radius: 4px;
      /* padding: 5 5; */
      margin-left: 2px;
  }
  .site-header .navbar-nav .nav-link {
    color: #000;
  }
  
  /* .site-header .navbar-nav .nav-link:hover {
    color: #0000;
  }
   */
  .site-header .navbar-nav .nav-link.active {
    font-weight: 500;
  }
  
  .content-section {
    background: #ffffff;
    padding: 20px 20px;
    border: 1px solid #dddddd;
    border-radius: 3px;
    margin-bottom: 20px;
  }
  
  .article-title {
    color: #444444;
  }
  
  a.article-title:hover {
    color: #428bca;
    text-decoration: none;
  }
  
  .article-content {
    white-space: pre-line;
  }
  
  .article-img {
    height: 65px;
    width: 65px;
    margin-right: 16px;
  }
  
  .article-metadata {
    padding-bottom: 1px;
    margin-bottom: 4px;
    border-bottom: 1px solid #e3e3e3
  }
  
  .article-metadata a:hover {
    color: #333;
    text-decoration: none;
  }
  
  .article-svg {
    width: 25px;
    height: 25px;
    vertical-align: middle;
  }
  
  .account-img {
    height: 125px;
    width: 125px;
    margin-right: 20px;
    margin-bottom: 16px;
  }
  
  .account-heading {
    font-size: 2.5rem;
  }