{% extends "layout.html" %}
{% block content %}
<div class="">

    <div class="container">

      
        <div class="row">
       
        <div class="col-md-2"></div>
        
        <div class="col-md-8">
        <h4 class="text-info ">Create your Blog</h4> <br>
           <div class="card">
               <div class="card-body">
                <form method="POST" action="" enctype="multipart/form-data">
                    {{ form.hidden_tag() }}
                    <fieldset class="form-group">
                        <div class="form-group">
                            {{ form.title.label(class="form-control-label") }}
                            {% if form.title.errors %}
                                {{ form.title(class="form-control form-control-lg is-invalid") }}
                                <div class="invalid-feedback">
                                    {% for error in form.title.errors %}
                                        <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                            {% else %}
                                {{ form.title(class="form-control form-control-lg") }}
                            {% endif %}
                        </div>
                  
                        <div class="form-group">
                            {{ form.content.label(class="form-control-label") }}
                            {% if form.content.errors %}
                                {{ form.content(class="form-control form-control-lg is-invalid") }}
                                <div class="invalid-feedback">
                                    {% for error in form.content.errors %}
                                        <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                            {% else %}
                                {{ form.content(class="form-control form-control-lg") }}
                            {% endif %}
                        </div>
                       
                            <div class="form-group mt-2">
                                {{ form.picture.label() }} <br>
                                {{ form.picture(class="form-control-file") }}
                                {% if form.picture.errors %}
                                    {% for error in form.picture.errors %}
                                        <span class="text-danger">{{ error }}</span></br>
                                    {% endfor %}
                                {% endif %}
                            </div>
                       
                    </fieldset>
                    
              
               </div>
           </div>


           <div class="form-group mt-4">
            {{ form.submit(class="btn btn-white") }}
        </div>
        </div>

        

    </form>
        <div class="col-md-2"></div>
        </div>

       
    </div>

</div>
{% endblock content %}