{% extends "layout.html" %}
{% block content %}

    <div class="container">
      <div class="row">

        <div class="col-md-7">

          <p class="display-5">&ldquo; {{qoutes}}  &rdquo;</p>

          <p class="text-muted">- <i>{{author}}</i> </p>

        </div>
        <div class="col-md-5">
          <img src="{{url_for('static',filename='assets/motive.png')}}" alt="" height="300">
        </div>
        <!-- <div class="col-md-12">
         
            {{qoutes}}
            <br>
            {{author}}
          </div> -->
        </div>
      </div>
    </div>

    <div class="row mt-4">
    {% for post in posts.items %}
    
        
        <!-- <div class="col-md-6">
          <div class="card blog">
            <div class="card-body">
              <article class="media  mt-4">
                <img class="rounded-circle article-img" src="{{ url_for('static', filename='profile_pics/' + post.author.image_file) }}">
                <div class="media-body">
                  <div class="article-metadata">
                    <a class="mr-2" href="{{ url_for('users.user_posts', username=post.author.username) }}">{{ post.author.username }}</a>
                    <small class="text-muted">{{ post.date_posted.strftime('%Y-%m-%d') }}</small>
                  </div>
                  <h2><a class="article-title" href="{{ url_for('posts.post', post_id=post.id) }}">{{ post.title }}</a></h2>
                  <p class="article-content">{{ post.content }}</p>
                </div>
              </article>
            </div>
          </div>
        </div>
         -->

         <div class="col-md-6">
          <div class="card">
            <img src="{{ url_for('static', filename='uploads/' + post.image_file) }}" class="card-img-top" alt="Fissure in Sandstone" height="300"/>
            <div class="card-body">
             
              <h5 class="card-title"><a href="{{ url_for('posts.post', post_id=post.id) }}">{{ post.title }}</a></h5>

              <img class="rounded-circle article-img" src="{{ url_for('static', filename='profile_pics/' + post.author.image_file) }}">
              <p>Posted By <a class="mr-2" href="{{ url_for('users.user_posts', username=post.author.username) }}">{{ post.author.username }}</a></p>

              <p>On <small class="text-muted">{{ post.date_posted.strftime('%Y-%m-%d') }}</small></p>
              <p class="card-text">{{ post.content }}</p>
             
            </div>
          </div>
         </div>
     

        
    {% endfor %}

    </div>
    {% for page_num in posts.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
      {% if page_num %}
        {% if posts.page == page_num %}
          <a class="btn btn-info mb-4 mt-4" href="{{ url_for('main.home', page=page_num) }}">{{ page_num }}</a>
        {% else %}
          <a class="btn btn-outline-info mb-4" href="{{ url_for('main.home', page=page_num) }}">{{ page_num }}</a>
        {% endif %}
      {% else %}
        ...
      {% endif %}
    {% endfor %}
{% endblock content %}