{% extends "layout.html" %}
{% block content %}

<p><i class="fas fa-angle-left"></i><a href="{{url_for('main.home')}}"> Back</a></p>
  <article class="media content-section">
    
    <img class="rounded-circle article-img" src="{{ url_for('static', filename='profile_pics/' + post.author.image_file) }}">
 

    <div class="container">
      <div class="row">
        <div class="col-md-12">
        <div class="card-body">
          <a class="mr-2" href="{{ url_for('users.user_posts', username=post.author.username) }}">{{ post.author.username }}</a>
        <small class="text-muted">{{ post.date_posted.strftime('%Y-%m-%d') }}</small>
        {% if post.author == current_user %}
          <div>
            <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{{ url_for('posts.update_post', post_id=post.id) }}">Update</a>
            <button type="button" class="btn btn-danger btn-sm m-1" data-toggle="modal" data-target="#deleteModal">Delete</button>
          </div>
        {% endif %}
      </div>
      <h2 class="article-title">{{ post.title }}</h2>
      <p class="article-content">{{ post.content }}</p>

      <hr>

      <div class="card">
        <div class="card-body bg-#cdb4db">
  
          {% for c in comment %}
  
          <div class="card mt-2">
            <div class="card-body">
              <p><i> {{c.comment}}</i></p>
            </div>
           
          </div>
          
          {% endfor %}
  
        </div>
      </div>


      <form action="" method="POST">
        {{ form.hidden_tag() }}
  
        <div class="form-group">
          {{ form.comment.label(class="form-control-label") }}
          {% if form.comment.errors %}
              {{ form.comment(class="form-control form-control-lg is-invalid") }}
              <div class="invalid-feedback">
                  {% for error in form.comment.errors %}
                      <span>{{ error }}</span>
                  {% endfor %}
              </div>
          {% else %}
              {{ form.comment(class="form-control form-control-lg") }}
          {% endif %}
      </div>
  
      <div class="form-group mt-4">
        {{ form.submit(class="btn btn-white") }}
    </div>
  
      </form>
        </div>
      
      </div>
      
      </div>
    </div>
 
   

    <!-- comment card  -->
   

    <!-- end comment card -->
    <!-- add comment -->


    <!-- end comment -->
  </article>
  <!-- Modal -->
  <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="deleteModalLabel">Delete Post?</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <form action="{{ url_for('posts.delete_post', post_id=post.id) }}" method="POST">
            <input class="btn btn-danger" type="submit" value="Delete">
          </form>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}